@charset "UTF-8";
:root {
  /* --color-primary: #37306B;
  --color-primary-light: #433b80;
  --color-primary-light-2:#BC6FF1;
  --color-secondary: #66347F;
  --color-tertiary:#9e4784;
  --color-tertiary-rgb:158, 71, 132;
  --color-quaternary:#d27685;
  --color-quaternary-rgb: 210, 118, 133; */
  --color-white:#fff;
  /*--color-primary: #e95a53;
  --color-secondary: #F27059 ;
  --color-tertiary: #F4845F ;
  --color-tertiary-rgb: 244, 132, 95;
  --color-quaternary: #F79D65 ;
  --color-quaternary-rgb: 247, 157, 101;
  --color-pet: #F7B267; */
  --color-primary: #2D2424;
  --color-secondary: #5C3D2E ;
  --color-tertiary: #B85C38 ;
  --color-tertiary-rgb:184, 92, 56;
  --color-quaternary: #E0C097 ;
  --color-quaternary-rgb:224, 192, 151;
  --color-pet: #DFBBB1; }

* {
  margin: 0;
  /* globální reset aby se začalo od nuly */
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  backface-visibility: hidden;
  scroll-behavior: smooth; }

body {
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-primary);
  color: var(--color-white); }

.container {
  max-width: 75vw;
  margin: 0 auto; }

.about {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative; }

@keyframes hammer {
  0% {
    transform: rotateZ(0); }
  50% {
    transform: rotateZ(3deg); }
  100% {
    transform: rotateZ(-3deg); } }

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 2.5rem; }
  .header__logo {
    height: 11rem;
    transition: transform .2s; }
    .header__logo:hover {
      animation: hammer .2s infinite; }
  .header__nav {
    display: flex; }

.nav-list {
  list-style: none;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav-list__item {
    width: 17rem;
    display: flex;
    justify-content: space-around;
    position: relative;
    letter-spacing: -2px; }
    .nav-list__item:nth-last-child(2) {
      margin-right: 2rem; }
    .nav-list__item:not(:last-child)::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      top: 0;
      left: 0;
      background-color: var(--color-quaternary);
      transform: scaleX(0);
      transform-origin: top left;
      transition: transform 0.4s; }
    .nav-list__item:not(:last-child):hover:before {
      transform-origin: top right;
      transform: scaleX(1); }
    .nav-list__item:not(:last-child)::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      right: 0;
      background-color: var(--color-quaternary);
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.3s; }
    .nav-list__item:not(:last-child):hover:after {
      transform-origin: bottom left;
      transform: scaleX(1); }

.nav-item__link {
  color: #fff;
  text-decoration: none;
  padding: 2rem; }
  .nav-item__link:link, .nav-item__link:visited {
    color: #fff; }
  .nav-item__link:hover {
    color: var(--color-quaternary); }

.btn-nav {
  cursor: pointer;
  font-size: 3rem;
  font-weight: 600;
  padding: 2rem 3rem;
  border: none;
  border-radius: 10px;
  background-color: var(--color-quaternary);
  transition: all 0.3s ease; }
  .btn-nav__link {
    color: var(--color-primary);
    text-decoration: none; }
  .btn-nav:link, .btn-nav:visited {
    color: var(--color-primary); }
  .btn-nav:hover {
    transform: translateY(-10px);
    box-shadow: -5px 8px 10px #000; }
  .btn-nav:focus {
    transform: translateY(-5px);
    box-shadow: -2px 4px 10px #000; }

.about-me {
  margin-top: 10rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .about-me__welcome {
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 2rem;
    padding: 2rem;
    background-color: var(--color-secondary);
    border-radius: 5px; }
  .about-me__name {
    font-size: 7rem;
    color: var(--color-white);
    letter-spacing: 4px;
    font-family: "Crimson Pro", sans-serif; }
  .about-me__job {
    font-size: 2rem;
    margin-bottom: 2rem; }
  .about-me__paragraph {
    font-size: 1.7rem;
    padding-right: 4rem;
    text-align: justify; }

.about-pic__picture {
  height: 75rem;
  display: flex;
  align-items: center; }

.about-follow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -10%;
  right: -8%; }
  .about-follow__me {
    font-size: 2.2rem;
    letter-spacing: 15px;
    writing-mode: vertical-rl;
    text-transform: uppercase; }
    .about-follow__me--line::before {
      content: "";
      display: block;
      width: 1px;
      height: 20rem;
      background-color: var(--color-white); }
    .about-follow__me--icon {
      display: flex;
      flex-direction: column; }
      .about-follow__me--icon a:not(:last-child) {
        margin-bottom: 1rem; }
      .about-follow__me--icon-1 {
        height: 4.2rem;
        width: 4.2rem;
        fill: var(--color-white);
        transition: fill .3s ease;
        /* &:not(:last-child) {
          margin-bottom: 2rem;
        } */ }
        .about-follow__me--icon-1:hover {
          cursor: pointer;
          animation: hammer .2s infinite;
          fill: var(--color-quaternary); }

#projects {
  background-color: var(--color-secondary); }

.projects {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5rem 0;
  gap: 5rem; }
  .projects__icon {
    height: 6rem;
    position: absolute;
    top: -3rem;
    left: 4rem; }
  .projects__number {
    font-family: 'Crimson Pro', sans-serif;
    font-size: 8rem;
    font-weight: 900;
    line-height: 1.4; }
  .projects__name {
    font-size: 2.5rem; }

.projects-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-quaternary);
  border-radius: 4px;
  border-top-right-radius: 50px;
  width: calc(100%/4);
  aspect-ratio: 16/11;
  position: relative; }
  .projects-box:nth-child(n+3) {
    border-style: dashed; }

.portfolio {
  margin-top: 10rem;
  margin-bottom: 10rem; }

.portfolio-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 4rem; }

.portfolio-text {
  display: flex;
  flex-direction: column;
  flex: 0 0 40%; }
  .portfolio-text__heading {
    font-size: 6rem;
    font-family: "Crimson Pro", sans-serif;
    letter-spacing: 3px; }
  .portfolio-text__paragraph {
    font-size: 1.7rem;
    padding: 1rem 1rem 1rem 0; }

.portfolio-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto; }
  .portfolio-btn-1 {
    font-size: 2rem;
    letter-spacing: 0.5px;
    color: var(--color-white);
    text-align: center;
    padding: 1.5rem 3.5rem;
    background-color: var(--color-secondary);
    border: none;
    transition: all 0.15s;
    cursor: pointer; }
    .portfolio-btn-1:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .portfolio-btn-1:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    .portfolio-btn-1:hover {
      transform: translateY(-5px);
      box-shadow: -5px 8px 10px #000; }
      .portfolio-btn-1:hover:nth-child(2) {
        box-shadow: 0 8px 10px #000; }
      .portfolio-btn-1:hover:last-child {
        box-shadow: 5px 8px 10px #000; }

.btn-active {
  font-weight: 600;
  background-color: var(--color-quaternary);
  transform: scale();
  color: var(--color-primary); }

.portfolio-projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem; }
  .portfolio-projects__box {
    aspect-ratio: 1/1;
    width: calc((100% - 6rem) / 3);
    display: block;
    position: relative;
    border-radius: 5px;
    overflow: hidden; }
    .portfolio-projects__box:hover .box__info {
      opacity: 1;
      visibility: visible;
      pointer-events: all; }
    .portfolio-projects__box--photo {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.box__info {
  background-color: rgba(var(--color-tertiary-rgb), 0.95);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.4s; }
  .box__info--heading {
    font-size: 3rem;
    letter-spacing: 2px;
    margin: 4rem 0 0.5rem; }
  .box__info--subheading {
    font-size: 2rem;
    margin-bottom: 2.5rem; }
  .box__info--paragraph {
    font-size: 1.5rem;
    margin-bottom: 4rem; }
  .box__info--line::before {
    content: "";
    width: 20rem;
    height: 1px;
    background-color: var(--color-white);
    display: block;
    border: noen; }
  .box__info--btn-2 {
    color: var(--color-white);
    letter-spacing: 2px;
    border: none;
    border-radius: 4px;
    font-family: "Cantarell";
    font-size: 2rem;
    padding: 1rem 1.5rem;
    background-color: var(--color-quaternary);
    transition: all 0.5s; }
    .box__info--btn-2:hover {
      transform: scale(1.1) translateX(1rem);
      background-color: var(--color-pet); }
  .box__info--link {
    text-decoration: none;
    color: var(--color-white); }

.portfolio-btn {
  display: flex;
  justify-content: center;
  margin: 8rem 0; }

#experiences {
  background-color: var(--color-secondary);
  padding-bottom: 3.5rem; }

.experiences-top {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .experiences-top__heading {
    margin: 8rem 0 2rem;
    font-size: 6rem;
    font-family: "Crimson Pro", sans-serif; }
  .experiences-top__text {
    font-size: 2rem;
    margin-bottom: 5rem;
    width: 75%;
    text-align: justify; }

/* .exp-timeline__row {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.exp-timeline__column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative; 
  width: calc(100% /5);
}
.exp__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  &--heading {
    font-size: 2.5rem;
  }
  &--paragraph {
    font-size: 1.5rem;
  }
}
.exp-timeline__year {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  font-size: 3rem;
  font-family: "Crimson Pro", sans-serif;
  letter-spacing: 3px;
  background-color: var(--color-tertiary);
  clip-path: polygon(75% 0%, 100% 51%, 78% 100%, 0% 100%, 0 52%, 0% 0%);
  z-index: 2;
  
}
.exp-timeline-osa{
    position: relative;
}
.exp-timeline__line {
  &::before {
    position: absolute;
    top: 50%;
    content: "";
    display: block;
    width: 550%; 
    height: 2px;
    background-color: var(--color-tertiary);
    top: 50%;
    z-index: 1;
  }
}
////////////////////////////////////////
/// 
 */
.column {
  display: flex;
  flex-direction: column; }

.exp-mid-column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem; }
  .exp-mid-column__box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(100% / 5); }
    .exp-mid-column__box--heading {
      padding: 1rem;
      font-size: 3rem;
      margin: .5rem 0;
      position: relative; }
      .exp-mid-column__box--heading::before {
        content: "";
        position: absolute;
        top: 0;
        left: -.5rem;
        display: block;
        width: 3px;
        height: 20rem;
        background-color: var(--color-tertiary); }
    .exp-mid-column__box--text {
      font-size: 1.7rem;
      margin: .5rem 0 2rem;
      padding: 1rem; }

.exp-column-year {
  display: flex;
  flex-direction: row; }
  .exp-column-year__arrow {
    font-size: 2.4rem;
    font-weight: 900;
    letter-spacing: 3px;
    width: calc(100% / 5);
    background-color: var(--color-tertiary);
    clip-path: polygon(10% 0%, 75% 0%, 100% 50%, 75% 100%, 10% 100%);
    z-index: 2;
    position: relative;
    /*  &::before{
        position: absolute;
        content: "";
        display: block;
        width: 300rem;
        height: 2px;
        top: 50%;
        background-color: aqua;
        z-index: 1;
    } */ }
    .exp-column-year__arrow--text {
      text-align: center; }

.exp-down-column {
  display: flex;
  flex-direction: row;
  gap: 2rem; }

.form {
  display: flex;
  flex-direction: row; }

.form-contact {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  padding: 1rem 1.5rem;
  margin: 4rem 2rem; }
  .form-contact__heading {
    font-size: 5rem;
    margin-bottom: 1rem; }
  .form-contact__text {
    font-size: 2rem;
    margin-bottom: 3rem; }

.form-contact-info {
  display: flex;
  flex-direction: row; }
  .form-contact-info:not(:last-child) {
    margin-bottom: 2.5rem; }
  .form-contact-info__icon {
    height: 5rem;
    width: 5rem;
    fill: var(--color-tertiary);
    margin: 1rem 3rem 0 0; }
  .form-contact-info__heading {
    font-size: 1.2rem; }
  .form-contact-info__subheading {
    font-weight: 1;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .form-contact-info a:hover {
    animation: hammer 0.2s infinite; }

.form-form {
  display: flex;
  flex-direction: column;
  margin-top: 4rem; }
