:root {
  --color-primary: #37306B;
  --color-primary-light: #433b80;
  --color-primary-light-2:#BC6FF1;
  --color-secondary: #66347F;
  --color-tertiary:#9e4784;
  --color-tertiary-rgb:158, 71, 132;
  --color-quaternary:#d27685;
  --color-quaternary-rgb: 210, 118, 133;
  --color-white:#fff;
}

* {
  margin: 0; /* globální reset aby se začalo od nuly */
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-primary);
  color: var(--color-white);
}
