:root {
  /* --color-primary: #37306B;
  --color-primary-light: #433b80;
  --color-primary-light-2:#BC6FF1;
  --color-secondary: #66347F;
  --color-tertiary:#9e4784;
  --color-tertiary-rgb:158, 71, 132;
  --color-quaternary:#d27685;
  --color-quaternary-rgb: 210, 118, 133; */
   --color-white:#fff;
  /*--color-primary: #e95a53;
  --color-secondary: #F27059 ;
  --color-tertiary: #F4845F ;
  --color-tertiary-rgb: 244, 132, 95;
  --color-quaternary: #F79D65 ;
  --color-quaternary-rgb: 247, 157, 101;
  --color-pet: #F7B267; */
  --color-primary: #2D2424;
  --color-primary-rgb: 45, 36, 36;
  --color-secondary: #5C3D2E ;
  --color-tertiary: #B85C38 ;
  --color-tertiary-rgb:184, 92, 56;
  --color-quaternary: #E0C097 ;
  --color-quaternary-rgb:224, 192, 151;
  --color-pet: #DFBBB1;
}
$bp-big: 93.75em; //1500px/16
$bp-largest:75em;   //1200px/16 = 75
$bp-large:68.75em;  //1100px/16 = 68.75
$bp-mid:56.25em;    //900
$bp-small:37.5em;   //600
$bp-mini:31.25em;   //500



* {
  margin: 0; /* globální reset aby se začalo od nuly */
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  backface-visibility: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Cantarell", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: relative;
  margin: 0 auto;
}
