.about-me {
  margin-top: 10rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media only screen and (max-width: $bp-big) {
    margin-top: 7rem;
  }
  @media only screen and (max-width: $bp-largest) {
    margin-top: 5rem;
    width: 100%;
  }
  @media only screen and (max-width: $bp-small) {
    margin-top: 2rem;
    align-items: center;
  }

  &__welcome {
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 2rem;
    padding: 2rem;
    background-color: var(--color-secondary);
    border-radius: 5px;
    @media only screen and (max-width: $bp-largest) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: $bp-large) {
      padding: 1rem;
      font-size: 1.5rem;
    }
  }
  &__name {
    font-size: 7rem;
    color: var(--color-white);
    letter-spacing: 4px;
    font-family: "Crimson Pro", sans-serif;
    @media only screen and (max-width: $bp-big) {
      font-size: 5.5rem;
    }
    @media only screen and (max-width: $bp-largest) {
      font-size: 5rem;
    }
    @media only screen and (max-width: $bp-large) {
      font-size: 3rem;
    }
    @media only screen and (max-width: $bp-iphone) {
      font-size: 2.5rem;
    }
  }
  &__job {
    font-size: 2rem;
    margin-bottom: 2rem;
    @media only screen and (max-width: $bp-largest) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: $bp-large) {
      font-size: 1.3rem;
    }
  }
  &__paragraph {
    font-size: 1.7rem;
    padding-right: 4rem;
    text-align: justify;
    @media only screen and (max-width: $bp-largest) {
      font-size: 1.3rem;
    }
    @media only screen and (max-width: $bp-large) {
      font-size: 1.2rem;
    }
    @media only screen and (max-width: $bp-iphone) {
      text-align: center;
      padding-right: 0;
      font-size: 1.3rem;
    }
  }
}

.about-pic {
  &__picture {
    height: 75rem;
    display: flex;
    align-items: center;
    @media only screen and (max-width: $bp-big) {
      height: 65rem;
    }
    @media only screen and (max-width: $bp-largest) {
      height: 50rem;
    }
    @media only screen and (max-width: $bp-large) {
      height: 40rem;
    }
    @media only screen and (max-width: $bp-mid) {
      height: 35rem;
    }
    @media only screen and (max-width: $bp-small) {
      margin: 0 auto;
    }
  }
}
.about-follow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -10%;
  right: -8%;
  @media only screen and (max-width: $bp-big) {
    top: -11%;
  }
  @media only screen and (max-width: $bp-small) {
    display: none;
  }

  &__me {
    font-size: 2.2rem;
    letter-spacing: 15px;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    @media only screen and (max-width: $bp-largest) {
      font-size: 1.8rem;
      letter-spacing: 10px;
    }
    @media only screen and (max-width: $bp-large) {
      font-size: 1.6rem;
      letter-spacing: 7px;
    }
    &--line::before {
      content: "";
      display: block;
      width: 1px;
      height: 20rem;
      background-color: var(--color-white);
      @media only screen and (max-width: $bp-big) {
        height: 15rem;
      }
      @media only screen and (max-width: $bp-largest) {
        height: 10rem;
      }
    }
    &--icon {
      display: flex;
      flex-direction: column;
      & a {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
      &-1 {
        height: 4.2rem;
        width: 4.2rem;
        fill: var(--color-white);
        transition: fill 0.3s ease;
        @media only screen and (max-width: $bp-big) {
          height: 3.6rem;
          width: 3.6rem;
        }
        @media only screen and (max-width: $bp-largest) {
          height: 2.9rem;
          width: 2.9rem;
        }
        &:hover {
          cursor: pointer;
          animation: hammer 0.2s infinite;
          fill: var(--color-quaternary);
        }
      }
    }
  }
}
