.about-me {
  margin-top: 15rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__welcome {
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 2rem;
    padding: 2rem;
    background-color: var(--color-secondary);
    border-radius: 5px;
  }
  &__name {
    font-size: 7rem;
    color: var(--color-white);
    letter-spacing: 4px;
    font-family: "Crimson Pro", sans-serif;
  }
  &__job {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  &__paragraph {
    font-size: 1.7rem;
    padding-right: 4rem;
    text-align: justify;
  }
}

.about-pic {
  &__picture {
    height: 75rem;
    display: flex;
    align-items: center;
  }
}
.about-follow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &__me {
    font-size: 2.2rem;
    letter-spacing: 20px;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    &--line::before {
      content: "";
      display: block;
      width: 1px;
      height: 20rem;
      background-color: var(--color-white);
    }
    &--icon {
      display: flex;
      flex-direction: column;
      &-1 {
        height: 4.2rem;
        width: 4.2rem;
        fill: var(--color-white);
        &:not(:last-child) {
          margin-bottom: 2rem;
        }
        &:hover{
          cursor: pointer;
          animation: hammer .2s infinite;
        }
      }
    }
  }
}
