#footer {
  background-color: var(--color-secondary);
}

.footer-text {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  border: 1px dashed black;
    border-radius: 50%;
  &__heading {
    font-size: 5rem;
    margin: 5rem 0 5rem;
  }
  &__text {
    font-size: 2.4rem;
    margin-bottom: 2.5rem;
  }
  &__icon {
    display: flex;
    gap: 3rem;
  }
  &__icon-1 {
    height: 5rem;
    width: 5rem;
  }
}
