.form {
  display: flex;
  flex-direction: row;
  //margin: 4rem 0;
  justify-content: space-between;
  margin: 10rem auto;
  @media only screen and (max-width:$bp-big){
    margin: 6rem auto;
  }
  @media only screen and (max-width:$bp-mid){
   margin: 5rem; 
   gap: 2rem;
  }
}
.form-contact {
  display: flex;
  flex-direction: column;
  flex: 0 0 40%;
  padding: 1rem 1.5rem;
  //margin: 4rem 2rem;
  @media only screen and (max-width:$bp-mid){
   flex: 0 0 30%; 
  }
  &__heading {
    font-size: 5rem;
    margin-bottom: 1rem;
    @media only screen and (max-width:$bp-big){
    font-size: 4rem;
    }
    @media only screen and (max-width:$bp-largest){
    font-size: 3rem;
    }
  }
  &__text {
    font-size: 2rem;
    margin-bottom: 3rem;
    @media only screen and (max-width:$bp-big){
    font-size: 1.7rem;
    }
    @media only screen and (max-width:$bp-largest){
    font-size: 1.4rem;
    }
  }
}
.form-contact-info {
  display: flex;
  flex-direction: row;
  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  &__icon {
    height: 5rem;
    width: 5rem;
    fill: var(--color-tertiary);
    padding: 1rem;
    @media only screen and (max-width:$bp-largest){
    height: 5rem;
    width: 5rem;
    }
  }
  &__heading {
    font-size: 1.2rem;
    @media only screen and (max-width:$bp-largest){
    font-size: 1rem;
    }
  }
  &__subheading {
    font-weight: 1;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    @media only screen and (max-width:$bp-big){
    font-size: 2.2rem;
    }
    @media only screen and (max-width:$bp-largest){
    font-size: 2rem;
    }
  }

  a:hover {
    animation: hammer 0.2s infinite;
  }
}
.form-form {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  gap: 2rem;
  //margin-top: 4rem;
  &__heading {
    font-size: 6rem;
    margin-bottom: 5rem;
    @media only screen and (max-width:$bp-big){
    font-size: 4rem;
    margin-bottom: 3rem;
    }
    @media only screen and (max-width:$bp-largest){
    font-size: 3rem;
    margin-bottom: 2.5rem;
    }
  }
}
.form-input {
  display: flex;
  flex-direction: column;

  width: 95%;
  height: 7rem;
  padding-left: 1rem;
  font-family: "Cantarell", sans-serif;
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  color: var(--color-quaternary);
  font-size: 2rem;
  border-radius: 9px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: all 0.1s;
  @media only screen and (max-width:$bp-big){
   height: 6rem;
   font-size: 1.7rem; 
  }
  @media only screen and (max-width:$bp-largest){
    height: 5rem;
    font-size: 1.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
  &:valid {
    border-bottom: 3px solid green;
  }
  /* 
  uplatňuje se i když tam není nic napsáno
  &:invalid {
    border-bottom: 1px dashed red; 

  } */
  &:focus {
    border: 3px solid var(--color-secondary);
    outline: none;
  }
  &:focus:valid {
    border-bottom: 3px solid green;
  }
  &:focus:invalid {
    border-bottom: 3px solid red;
  }
}
.form-textarea {
  width: 95%;
  height: 20rem;
  padding: 1rem 0 0 1rem;
  font-family: "Cantarell", sans-serif;
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  color: var(--color-quaternary);
  font-size: 2rem;
  border-radius: 9px;
  font-weight: 700;
  letter-spacing: 2px;
  outline: none;
  margin-bottom: 3rem;
  @media only screen and (max-width:$bp-largest){
   height: 15rem; 
   font-size: 1.5rem;
   margin-bottom: 1.5rem;
  }
  &:focus:valid {
    border-bottom: 3px solid green;
  }
  &:focus:invalid {
    border-bottom: 3px solid red;
  }
  &:valid {
    border-bottom: 3px solid green;
  }
}
