.icon-up {
  position: fixed;
  right: 3rem;
  bottom: 4rem;
  @media only screen and (max-width: $bp-big) {
    right: 2rem;
    bottom: 3rem;
  }
  @media only screen and (max-width: $bp-largest) {
    right: 2rem;
    bottom: 3rem;
  }
  @media only screen and (max-width: $bp-small) {
    right: 1rem;
    bottom: 2rem;
  }
}
.icon-up-1 {
  height: 5rem;
  width: 5rem;
  fill: var(--color-quaternary);
  &:hover {
    animation: hammer 0.2s infinite;
  }
  @media only screen and (max-width: $bp-big) {
    height: 4rem;
    width: 4rem;
  }
  @media only screen and (max-width: $bp-largest) {
    height: 3rem;
    width: 3rem;
  }
}
