.header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 2.5rem;
  @media only screen and (max-width:$bp-big){
    font-size: 2.2rem;
  }
  @media only screen and (max-width: $bp-largest) {
    font-size: 1.7rem;
  }

  &__logo {
    height: 11rem;
    transition: transform 0.2s;
    &:hover {
      animation: hammer 0.2s infinite;
    }
  @media only screen and (max-width:$bp-big){
    height: 9rem;
  }
    @media only screen and (max-width: $bp-largest) {
      height: 6rem;
    }
  }
  &__nav {
    display: flex;
  }
}
.nav-list {
  list-style: none;

  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
  &__item {
    width: 17rem;
    display: flex;
    justify-content: space-around;
    position: relative;
    letter-spacing: -2px;
    @media only screen and (max-width:$bp-big){
    width: 14rem;
    }
    @media only screen and (max-width: $bp-largest) {
      width: 11rem;
    } 
    @media only screen and (max-width:$bp-mid){
      &:not(:last-child){
        display: none;
      }
  }
    &:nth-last-child(2) {
      margin-right: 2rem;
    }
    &:not(:last-child) {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: 0;
        left: 0;
        background-color: var(--color-quaternary);
        transform: scaleX(0);
        transform-origin: top left;
        transition: transform 0.4s;
      }

      &:hover:before {
        transform-origin: top right;
        transform: scaleX(1);
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        right: 0;
        background-color: var(--color-quaternary);
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s;
      }
      &:hover:after {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    }
  }
}
.nav-item__link {
  color: #fff;
  text-decoration: none;
  padding: 2rem;

  &:link,
  &:visited {
    color: #fff;
  }
  &:hover {
    color: var(--color-quaternary);
  }
}

.btn-nav {
  cursor: pointer;
  font-size: 3rem;
  font-weight: 600;
  padding: 2rem 3rem;
  border: none;
  border-radius: 10px;
  background-color: var(--color-quaternary);
  transition: all 0.3s ease;

  &__link {
    color: var(--color-primary);
    text-decoration: none;
  }
  &:link,
  &:visited {
    color: var(--color-primary);
  }
  &:hover {
    transform: translateY(-10px);
    box-shadow: -5px 8px 10px #000;
  }
  &:focus {
    transform: translateY(-5px);
    box-shadow: -2px 4px 10px #000;
  }
  @media only screen and (max-width:$bp-big){
    font-size: 2.5rem;
    padding: 1.5rem 2.5rem;
  }
  @media only screen and (max-width: $bp-largest) {
    font-size: 2rem;
    padding: 1rem 2rem;
  }
}
